# ========================
# Database / Postgres Config
# ========================
POSTGRES_USER=postgres
POSTGRES_PASSWORD=123456
ADMIN_PASSWORD=Abc12345
DB_NAME=ecm_db
DB_PORT=5432
DB_HOST=postgres-db

DB_USERNAME=postgres
DB_PASSWORD=123456

# ========================
# Backend (API) Config
# ========================
JWT_ACCESS_SECRET=YOUR_ACCESS_SECRET
JWT_REFRESH_SECRET=YOUR_REFRESH_SECRET

# AWS S3 / Cloudfront 
AWS_REGION=ap-southeast-1
AWS_ACCESS_KEY_ID=YOUR_ACCESS_KEY
AWS_SECRET_ACCESS_KEY=YOUR_SECRET_ACCESS_KEY
S3_BUCKET_NAME=YOUR_S3_BUCKET_NAME
CLOUDFRONT_DOMAIN=YOUR_CLOUDFRONT_DOMAIN

# ========================
# Frontend Config
# ========================
API_URL=http://localhost:3001
NEXT_PUBLIC_API_URL=http://localhost:3001
NEXT_PUBLIC_ENABLE_MOCKS=false
